/*weather api*/
body, html{
  height: 100%;
}
.bg{
  /*background-image: url(https://i.imgur.com/Rwrbnto.jpg);*/
  background-color: #46608c;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.weather-container{
  background: #ccc url(https://i.imgur.com/Dxa7Iak.png) center no-repeat;
  text-align: center;
}
.weather{
  font-size: 22px;
  margin: 0;
}
.temp{
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

/*xivapi*/
.xivapiURL{
  position: relative;
  right: calc(50% - 46px);
}
#xivapi-container{
  background-image: url(https://i.imgur.com/bscjsyW.jpg);
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
#searchField{
  border: 1px solid #000000;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#searchButton{
  border: 1px solid #000000;
  background;
  cursor: pointer;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#searchButton:hover{
  background: white;
  cursor: pointer;
}
.name{
  box-shadow: inset 0px 0px 0px 1000px #404040;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}
#charInfo{
  box-shadow: inset 0px 0px 0px 1000px #404040;
  font-size: 24px;
  padding-top: 4px;
  margin: 0px;
}
.server{
  box-shadow: inset 0px 0px 0px 1000px #404040;
  font-size: 16px;
  margin: 1;
  padding-bottom: 5px;
}

/*footer*/
.footer{
  background: #ccc;
  text-align: center;
  font-size: 16px;
  color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-image: url(https://i.imgur.com/wncFFD3.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;

}
.githubIcon{
  box-shadow: inset 0px 0px 0px 1000px #404040;
  padding-top: 16px;
  padding-left: 2px;
  padding-right: 2px;
}
